
{% extends 'base.html.twig' %}
        {% block body %}
                {% for Category in Categories %}
                        <p> {{ Category.name }} </p>
                {% endfor %}
        {% endblock %}
